ul{
    list-style:none;
}

a{
    text-decoration: none;
    color: white;
}

li{
    text-align: center;
    font-size: large;
}

img{
    max-width: 450px;
}

.hero{
    max-width: 450px;
    margin: auto;
    padding: 2rem;
}

.container-links{
    max-width: 500px;
    margin: auto;
}

.links{
    background-color:	#0F9D58;
    max-width: 400px;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}